Source/WeiXin/packages
Source/WeiXin/WeiXin/bin
Source/WeiXin/WeiXin/obj
Source/WeiXin/WeiXin.AccessToken/bin
Source/WeiXin/WeiXin.AccessToken/obj
Source/WeiXin/WeiXin.Attributes/bin
Source/WeiXin/WeiXin.Attributes/obj
Source/WeiXin/WeiXin.Config/bin
Source/WeiXin/WeiXin.Config/obj
Source/WeiXin/WeiXin.GlobalReturnCode/bin
Source/WeiXin/WeiXin.GlobalReturnCode/obj
Source/WeiXin/WeiXin.Mass/bin
Source/WeiXin/WeiXin.Mass/obj
Source/WeiXin/WeiXin.Messages/bin
Source/WeiXin/WeiXin.Messages/obj
Source/WeiXin/WeiXin.OAuth2AccessToken/bin
Source/WeiXin/WeiXin.OAuth2AccessToken/obj
Source/WeiXin/WeiXin.ProcessMessages/bin
Source/WeiXin/WeiXin.ProcessMessages/obj
Source/WeiXin/WeiXin.QRCode/bin
Source/WeiXin/WeiXin.QRCode/obj
Source/WeiXin/WeiXin.SendCustomerServiceMessage/bin
Source/WeiXin/WeiXin.SendCustomerServiceMessage/obj
Source/WeiXin/WeiXin.Test/bin
Source/WeiXin/WeiXin.Test/obj
Source/WeiXin/WeiXin.UserManager/bin
Source/WeiXin/WeiXin.UserManager/obj
Source/WeiXin/WeiXin.Utilitys/bin
Source/WeiXin/WeiXin.Utilitys/obj
Source/WeiXin/WeiXin.Web/bin
Source/WeiXin/WeiXin.Web/obj
Source/WeiXin/WeiXin.v12.suo
Source/WeiXin/WeiXin/Properties/PublishProfiles